.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  width: auto;
  height: 150px;
  background-color: #d3d3d3;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  box-shadow: 1px 2px grey;
}

.cardBottom {
  position: absolute;
  bottom: 0px;
  font-weight: 500;
  font-size: 18px;
  color: dimgray;
}

.giftCard {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  color: dimgray;
}

.tagLabel {
  border: 1px solid #3388ff;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  margin-bottom: "10px";
  width: fit-content;
  color: #3388ff;
  font-weight: 700;
}

.money {
  font-weight: 700;
  font-size: 15px;
  color: #3388ff;
}

.menuBar {
  cursor: pointer;
  color: gray;
}

.menuBar:hover {
  color: black;
}
.menuBar:focus {
  color: black;
}

.menuBar:active {
  color: black;
}
